:root {
  --clr-primary-500: hsl(215, 51%, 70%);
  --clr-primary-400: hsl(178, 100%, 50%);

  --clr-neutral-800: hsl(217, 54%, 11%);
  --clr-neutral-700: hsl(216, 50%, 16%);
  --clr-neutral-600: hsl(215, 32%, 27%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --fw-bold: 600;
  --fw-semi-bold: 400;
  --fw-light: 300;

  --ff-primary: "Outfit", sans-serif;
}
